.section_2{
   background-color: #333333;
   border-radius: 3em 3em 0 0 ;
   margin-top: -5em;
   color: #FFFFFF;
   display: flex;
   justify-items: center;
   flex-direction: column;
}

.section_2>h1{
   margin: 10vh auto 0;
}
.card_section_2 {
   background-image:  linear-gradient(180deg, #00C0FD 0%, #0056FD 100%);
   border-radius: 3em;
   margin: 7vw 10vw;
   padding-bottom: 5vh;
}
.card_title,.card_list,.card_footer{
   margin: 7vh 10vw  ;
}
.card_list>li{
   display: flex;
   list-style: none;
   margin-bottom: 2vh;
}
.card_list>li>img{
   align-items: center;
   margin-right: 1vw;
}
.card_footer>h1{
   margin-left:80%;
   display: flex;
   flex-direction: column;   
}
.card_footer>h1:after{
   content: ' ';
   width: 10vw;
   height: 1vh;
   margin: -2vh -4vh  ;
   background-color:rgba(255, 233, 37, 0.7);;
}
.dot{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom:  15vh  ;
}
.dot>span{
   width: 0.5em;
   height: 0.5em;
   margin: 0.3em;
   border-radius: 50%;
   background-color: #FFFFFF;
}