@media screen and (max-width:750px){
   
   .container_section_1{
      height: 40%;
      overflow: hidden;
   }
}

.container_section_1{
   height: 45em;
   overflow: hidden;
} 

.image_rapper,.text_hero{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.text_hero{
   gap: 4vh;
}

.text_hero>p{
   width: 70vw;
   height: 7em;
   text-align: center;
}
.text_hero>h1>span{
   background: -webkit-linear-gradient(-90deg, #00C0FD 0%, #0056FD 100%);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}

/* section 2 */
.circle{
   display: flex;
   justify-content: center;
   width: 90em;
   height: 90em;
   margin-top: -5em;
   border-radius: 50%;
   z-index: -2;
   background-image: radial-gradient(42.06% 42.06% at 49.96% 41.94%, #00C0FD 0%, rgba(194, 200, 255, 0) 100%);
}
.circle>img{
   margin-top: 5em;
}

