
.btn{
   border: none;
   border-radius: 2em;
   background-color: #fff;
}
.primary{
   background-image: linear-gradient(180deg, #00C0FD 0%, #0056FD 100%);
   color: #fff;
}
.secondary{
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(180deg, #00C0FD 0%, #0056FD 100%);
}
.text_gradient{
   background: -webkit-linear-gradient(-90deg, #00C0FD 0%, #0056FD 100%);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}

