.nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 1em 3em 3em;
}
.hamburger_menu{
   display: none;
}
@media screen and (max-width: 768px) {
   .nav{
      margin: 1em ;
   }
   .hamburger_menu{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 40px;
   flex-direction: column;
   }
   .hamburger_menu>span{
      width: 60%;
      height: 10%;
      margin: 3% ;
      background-color: #333;
      border-radius: 10px;
   }
   [status=active].hamburger_menu>span:first-child{
      transform: rotate(45deg) translateX(10px) translateY(10px);
   }
   [status=active].hamburger_menu>span:nth-child(2){
      transform: translateX(70px) ;
   }
   [status=active].hamburger_menu>span:last-child {
      transform: rotate(-45deg) ;
   }

   .nav_menu{
      display: none;
   }
   .container_btn{
      display: none;
   }
}

.logo{
   font-weight: 800;
   font-size: 24px;
   line-height: 36px;
}
.nav_menu>ul{
   display: flex;
   -ms-flex-order: 0;
}
.nav_menu>ul>li{
   list-style: none;
   margin:0 2em;
}
.nav_menu>ul>li>a{
   text-decoration: none;
}


