.c{
   color: #FFF;
   background: #333333;
   border-radius: 60px 60px 0 0;
   margin-top: -3.2em;
}

.rapper{
   padding: 60px;
   display: flex;
   
   gap: 2em;
}
.rapper>ul>li{
list-style: none;
margin-top: 5px;
} 