.container,.rapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2em;
   color: #fff;
}
.container{
   border-radius: 60px 60px 0 0;
   margin-top: -3em;
   height: 35em;
   background-image: linear-gradient(180deg, #00C0FD 0%, #0056FD 100%);
}
.rapper,.form{
   margin: 5em auto 0 ;
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
}

.form>input{
   width: 30em;
   height: 2em;
   border: none;
   border-radius: 100px;
   background-color: #fff;
   padding: 2em;
}
.form>input:focus{
   outline: none;
}
@media  screen and (max-width:760px){

   .form{
      flex-direction: column;
   }
   .form>input{
      width: 20em;
   }
   .rapper>*{
      margin: auto 2em  ;
   }
}
