.container,.rapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5vh;
   color: #fff;
}
.container{
   border-radius: 60px 60px 0 0;
   margin-top: -3em;
   height: 35em;
   background-image: linear-gradient(180deg, #00C0FD 0%, #0056FD 100%);
}
.rapper,.form{
   margin-top: 10vh ;
}
.form{
   align-items: center;
}
.form>input{
   width: 50vw;
   height: 3em;
   margin-right: 28px;
   border: none;
   border-radius: 100px;
   background-color: #fff;
   padding: 2.5em;
}
.form>input:focus{
   outline: none;
}