.section3{
   width: 100%;
   height: 2188px;
   border-radius:60px 60px 0px 0px;
   background-color: #fff;
   margin-top: -50px;
   position: absolute;
}
.head{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.head>h1{
   margin: 2em auto;
}
.container_btn{
   display: flex;
   justify-content: space-between;
}
.container_btn>button{
 margin: auto 2em ;
}
.bg_circle{
   top: 60px;
   left: -166px;
   position: absolute;
   width: 2547px;
   height: 2547px;
   background-image: radial-gradient(42.06% 42.06% at 49.96% 41.94%, #00C0FD 0%, rgba(194, 200, 255, 0) 100%);
}